ENVIRONMENT=dev
FRONTEND_BASE_URL=http://localhost:5173
DATABASE_URL="YOUR_DATABASE_URL"
REDIS_URL="YOUR_REDIS_URL"
JWT_SECRET="YOUR_JWT_SECRET"
S3_FILES_THUMBNAILS_BUCKET_NAME="YOUR_S3_BUCKET_NAME"
S3_FILES_THUMBNAILS_BUCKET_REGION="YOUR_S3_BUCKET_REGION"
SQS_DOCUMENT_PROCESSING_QUEUE_NAME="YOUR_SQS_QUEUE_NAME"
SQS_DOCUMENT_PROCESSING_DEAD_LETTER_QUEUE_NAME="YOUR_SQS_DEAD_LETTER_QUEUE_NAME"
SQS_DOCUMENT_QUEUES_REGION="YOUR_SQS_REGION"
SES_FROM_EMAIL="YOUR_SES_FROM_EMAIL"
SES_REGION="YOUR_SES_REGION"