.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
