.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex: 1;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}
