.navbar-brand {
  display: flex;
  gap: 10px;
}

.navbar-logo {
  width: 28px;
  height: 28px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--navbar-height);
  background-color: #857777;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
}
